/* #18161c
#26242a
#ff0079
#ff00795c
#5c5c5c
#1c1b1e  */
@font-face {
    font-family: font;
    src: url('../../Yekan-Bakh-FaNum-05-Medium.woff');
}
*{
    font-family: font;
}
body{
    text-align: center;
    background-color: #18161c;
}
input{
    padding: 5px;
    padding-right: 12px;
   margin-top: 3%;
    width : 395px;
    height: 35px;
    border:     none;
    background-color: #ff0077;
    box-shadow:0px 0px 24px #ff00793c;
    border-radius: 5px;
    transition: 0.3s;
    
}
input::placeholder{
    color: #18161c;
}
input:focus{
    outline: none;
}
input:hover{
    padding: 5px;
    padding-right: 12px;
   margin-top: 3%;
    width : 398px;
    height: 38px;
    border:     none;
    background-color: #ff0079;
    box-shadow:0px 0px 24px #ff00795c;
    border-radius: 5px;
    transition: 0.3s;
}
#hint{
    bottom: -36px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1c1b1e;
    color: #5c5c5c;
    width: 45%;
    border-radius: 5px;
}
#okBtn{
    background-color: #222123;
    color: #ff0077;
    border: none;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    transition: 0.2s;
}
#okBtn:hover{
    background-color: #222126;
    color: #ff0078;
    border: none;
    width: 77px;
    height: 32px;
    border-radius: 5px;
    transition: 0.2s;
}
